@import url('https://fonts.googleapis.com/css2?family=Abel&family=Varela+Round&display=swap');
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.brand-font
{
    font-family:  'Cormorant', serif !important;
    text-decoration: none;
    font-size: 26px;
    font-style: italic;
}
.brand-font,.list li a 
{
    color:#F7FFF7 !important;
}
.App
{
    position: relative;
    background-color :#1A535C;
  font-family: 'Varela Round', sans-serif;
}